
.hide1 {
    display: block;
}

.hide2 {
    display: none;
}



/* MOBILE */

@media (min-width: 320px) and (max-width: 767px) {
    
    .navLinkLeft {
        margin-left:4.5vw;
        margin-top:4.5vw;
    }
    
    .navLinkRight {
        margin-right:4.06vw;
        margin-top:4.5vw;
    }
    
    .navLinkLeft>img {
        height:6.87vw;
        width: 14.06vw;
    }
    
    .navLinkRight>img {
        height: 6.25vw;
        width: 6.25vw;
    }

    h1 {
        position: absolute;
        top:25.62vw; /* 82/3.2 */
        left:0vw;
        width: 92.5vw; /* 296/3.2 */
        height:38.43vw;
        color: #333333;
        font-family: Gotham, sans-serif;
        font-size: 8.12vw !important;
        font-weight: bold;
        line-height: 39px;
        -webkit-transform: translate(0,-76.5vw); 
        padding-top:3vw;
        margin-bottom: 40px !important;
}

    .linksList {
        position: absolute;
        top:76.56vw;
        left:4vw;
        width: 92.5vw; 
    }

    .linksList img {
        width: 93vw;
        width: 93vw;
        margin-top:0vh;
        margin-bottom:3vw;

    }
    
    h2 {
        font-size: 5.6vw !important; 
        margin-top: -1.5rem !important;
        margin-left: 0.5rem;
        top:76.56vw;
        margin-left: 2.5vw; /* 8 / 3.2 */
        margin-bottom: 1.25vw; /* 8 / 3.2 */
        width: 92.5vw; 
    }

    p {
        height: 19.68vw;
        font-size: 4vw !important;
        margin-left: 2.5vw; /* 8 / 3.2 */
        font-weight: 300;
        line-height: 6.56vw;
        margin-bottom: 7.18vw !important; /* 23px / 3.2 */
    }

    p>br {
        display:none;
    }


    .line {
        box-sizing: border-box;
        height: 1.8rem;
        width: 1px;
        border: 1px solid #AB4D8E;
    }

    .hide1 {
        display: none;
    }

    .hide2 {
        display: block;
    }

}






/* TABLET */

@media (min-width: 768px) and (max-width: 1024px) {

    .navLinkLeft {
        margin-left:3.51vw !important;
        margin-top:3.51vw;
    }
    
    .navLinkRight {
        margin-right:3.51vw;
        margin-top:3vw;
    }
    
    .navLinkLeft>img {
        height: 3.77vw;
        width: 7.81vw;
    }
    
    .navLinkRight>img {
        height: 3.38vw;
        width: 3.38vw;
    }

    .linksList {
        position:absolute;
        top:30vh;
        left:3.2vw !important;
        width:94vw;
    }

    .linksList img {
        width:45.1vw !important;
        top:10vh;
        transform: translateX(0.9vw) !important;
    }

    .col-sm-6:nth-child(odd) {
        transform: translate(0.7vw) !important;
    }

    h1 {
        position: absolute;
        top:-20vh;
        left:0vw !important;
        height: 201px;
        width: 576px;
        color: #333333;
        font-family: Gotham, sans-serif;
        font-size: 4.4vh !important;
        font-weight: bold;
        line-height: 67px;
    }

    h2 {
        width:40vw;
        font-size: 3vw !important;
        margin-top: -3.3vw !important;
        margin-left: 1.5rem;
    }

    p {
        font-size: 1.4vw !important;
        margin-left: 1.5rem;
    }

    div {
        padding:0px !important;
    }
    
    div.col-sm-6 {
        width:30px;
    }

    .line {
        box-sizing: border-box;
        height: 2rem;
        width: 1px;
        border: 1.5px solid #AB4D8E;
        margin-left:2vw !important;
        margin-top:1.97vw;
    }

    .hide1 {
        display: none;
    }

    .hide2 {
        display: block;
    }

    .row>div:nth-child(even) {
        -webkit-transform: translateX(1vw);
    }
}



/* DESKTOP */

@media (min-width: 1025px) {

    .navLinkLeft {
        margin-left:1.875rem;
        margin-top:1rem;
    }

    .navLinkRight {
        margin-right:1.875rem;
        margin-top:1rem;
    }

    .navLinkLeft>img {
        height: 29px;
        width: 60px;
    }

    .navLinkRight>img {
        height: 26px;
        width: 26px;
    }

    a {
        cursor: pointer;
    }

    h1 {
        position: absolute;
        top:10vw;
        left:0vw;
        height: 285px;
        color: #333333;
        font-family: Goham, sans-serif;
        font-size: 500% !important;
        font-weight: 900;
        letter-spacing: 0.3px;
        line-height: 95px;
    }
    
     h1 {
        position: absolute;
        top:-10vw;
        left:0vw;
        height: 17.8vw;
        color: #333333;
        font-family: Goham, sans-serif;
        font-size: 5.6vw !important;
        font-weight: bold;
        letter-spacing: 0.01vw;
        line-height: 5.9vw;
    }

    .linksList {
        position:absolute;
        top:35.93vh;
        width:71.125vw;
        left:14.375vw;
    }

    .linksList img {
        height:325px;
        width:34.68vw;
        margin-top:4vh;
        margin-bottom:3vh;
    }

    .row {
        margin-top:130px;
    }

    h2 {
        height: 5vh;
        width: 328px;
        color: #333333;
        font-family: Gotham, sans-serif;
        font-size: 23px;
        font-weight: 500;
        line-height: 30px;
        width: 500px;
        margin-top: -2.5rem !important;
        margin-left: 1rem;
    }

    p {
        margin-left: 1rem;
    }

    .line {
        box-sizing: border-box;
        height: 55px;
        width: 1px;
        border: 1.5px solid #AB4D8E;}
    }

    .link7 p {
        transform: translateY(2vw);
    }


}

